<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ghostice.ApplicationKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <Ghostice.ApplicationKit.Properties.Settings>
      <setting name="AppKitTargetPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AppKitTargetArguments" serializeAs="String">
        <value />
      </setting>
      <setting name="AppKitRpcEndpointAddress" serializeAs="String">
        <value>http://localhost:21505</value>
      </setting>
      <setting name="AppKitStartupTimeoutSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="AppKitRemoteAppManagerLease" serializeAs="String">
        <value>00:05:00</value>
      </setting>
    </Ghostice.ApplicationKit.Properties.Settings>
  </userSettings>
</configuration>
